/*
*Copyright©2016 航图教育 版权所有
*
*/
body{
	font: 12px/150% Arial,Verdana,"宋体";
}
.footer-page{
	background:#eee;
	padding:20px;
	text-align: center;
	color:#666;
	border-top: 1px solid #ddd;
	margin-top:20px;
	padding-bottom:15px;
	border-bottom: 1px solid #ddd;
}
.footer-page a{
	letter-spacing: 1px;
	padding:10px;
	color:#666;
}
.footer-page .footer-p{
	font-size:16px;font-weight:500;font-family:黑体;
	text-align:left;	
}
.footer-page .right-dec{
	padding-right:0;
}
.footer-page .right-dec div{
	border-left:1px solid #ddd;min-height:115px;padding-left:20px;
}
.footer-page li,.footer-page ul{
	text-align:left;
	padding:0;	
}
.footer-page ul{
	margin-bottom:0;
	padding-bottom:0;
}
.footer-page li a{
	padding:0;
	line-height:1.5em;
}
.nb-b .nb{
	padding-top:15px;
}
.nb-b .nb .d{
	margin:0;font-size:15px;font-family:黑体;font-weight:500;
}
.nb-b .nb .b{
	font-size:12px;color:#6d6d6d;
}
.foot-shop{
	/* border-top:1px solid #ddd; */padding-top:15px;text-align:center;margin-top:15px;
}
.foot-shop .foot-shop-item{
	color:#666;padding-right:12px;padding-left:10px;
	border-right:1px solid #ddd;margin:0;
}
.foot-shop p{
	color:#666;
	padding:0px;
	clear:both;
}
.foot-shop .foot-shop-item.last{
	border-right:0;
}
.margin-top-20{
	margin-top:20px;
}
.padding-left-10{
	padding-left:10px;
}
.padding-left-0{
	padding-left:0;
}
.padding-right-0{
	padding-right:0;
}
.padding-right-10{
	padding-right:10px;
}
.padding-left-20{
	padding-left:20px;
}
.padding-top-10{
	padding-top:10px;
}
.margin-left-20{
	margin-left:20px;
}
.margin-left-10{
	margin-left:10px;
}
.padding-right-30{
	padding-right:30px;padding-left:30px;
}
.padding-right-5{
	padding-right:5px;
}
.bv-form .help-block{margin-bottom:0}.bv-form .tooltip-inner{text-align:left}.nav-tabs li.bv-tab-success>a{color:#3c763d}.nav-tabs li.bv-tab-error>a{color:#a94442}.bv-form .bv-icon-no-label{top:0}.bv-form .bv-icon-input-group{top:0;z-index:100}
.control-label i.red{
	color:#c00;
}
.mjy-breadcrumb-heading{
	padding-left:0;
	padding-right:0;
}
.red{
	color:#c30;
}
.clear-both{
	clear:both;
}
.carousel-control{
	text-shadow:none !important;
	filter:none !important;
}
.shop-items > li > a{
	padding-left:8px;
	padding-right:8px;
	font-size:16px;
}
@media (min-width:950px){
	.shop-items > li > a{
		padding-left:15px;
		padding-right:15px;
		font-size:16px;
	}
}
.page-header{
	border-bottom:0;	
}
.header.navbar{
	margin-bottom:0;
}
.page-header{
	margin-top:0;
}
input[type="radio"]:focus,input[type="checkbox"]:focus{
	outline:none;
}
#nav-collapse .go-home{
	line-height:50px;
	color:#666;
}
#nav-collapse .go-home:hover{
	color:#c30;
}
/*搜索框  2016-07-22修改*/
/*
#search-from .input-group-addon{
	background:#c30;
}
#search-from #ipt-search,#search-from .input-group-addon{
	border:1px solid #c30;
}
#search-from .pop-select,#search-from .input-group-addon{
	color:#fff;
}
*/
.search-key-hot .btn-link{
	color:#333;
}
.search-key-hot .btn-link:hover{
	color:#c30;
}
.item-title a{
	color:#333;
}
.price{
	font-weight:700;
}
.list-more-bar{
	padding:0;margin:0;
	top:-17px;
	position:relative;
	text-align:center;
}
.list-more-bar span{
	background:#ddd;
	padding:5px;
	cursor:pointer;
}
.bar-boder-bottom{
	background-color:#eeefff;
}
.glyphicon-filter{
	cursor:pointer;
}
.city-bg:hover{
	text-decoration:none;
}
.city-bg {
	text-align:center;
	padding:5px;
}
.city-bg a{
	color:#333;
	font-size:12px;
	text-decoration:none;
}
.city-bg a img{
	margin:0 auto;
}
.city-bg a:hover{
	text-decoration:none;	
}
.filter-box .list-group-item{
	padding:0 15px;
}

@media (min-width: 800px){
 .login-box{
	box-shadow: 0 0 35px #888;
}
}

@media (min-width: 1366px){
 .footer-container{
	height:210px;
}
.login-visible-lg{
	display:block;
}
}
@media (max-width: 1366px){
 .footer-container{
	height:150px;
}
.login-visible-lg{
	display:none;
}
}
.footer-container{
	background-color:#fff;
	font-size:14px;
}
.footer-container p{
	color:#000;
}
.footer-item{
    border-right: 1px solid #ddd;
   	color: #000;
    margin: 0;
   	padding-left: 10px;
    padding-right: 12px;
}
.footer-item.last {
    border-right: 0 none;
}
/*
返回顶部样式
*/
#scrollUp {
   bottom: 20px;
   right: 20px;
   background:url("../images/to-top.png");
   height:38px;
   width:38px;
   text-decoration: none;
   opacity: .9;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
}
.login-box-main{
	margin: 10px auto;
	background:#A5E8f1;/*bg*/
}
.login-box-main .login-box{
	background:#fff;
	margin-top:38px;
	margin-bottom:10px;
	padding-bottom: 10px;
}
.login-box-main h2{
	font-size:20px;
	font-family:"微软雅黑","microsoft yahei";
}
.margin-top-10{
	margin-top:10px;
}
@media (max-width:768px) {
	.login-box-main{
		background: #FFF;
	}
	.login-box-main h2{
		font-size:16pt;
	}
	.login-box-main .login-box{
		margin-top:0;
	}
	.login-title{
		border-bottom: 1px solid #DDDDDD;
	}
}
#login_btn{
	margin:0 auto;
	margin-top:10px;
	width:95%;
	height:5%;
	color:blue;
}
#create2code{
	margin:0 auto;
}
#create2code canvas,#create2code table,#create2code div{
	width:95%;
	height:95%;
	margin:0 auto;
	overflow: hidden;
}
.margin-top-10{
	 margin-bottom:22px;
}