<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper.xml映射文件中定义了操作数据库的sql，每个sql是一个statement，
	 映射文件是mybatis的核心。 -->
<!-- 
	 namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
	  注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址
-->
<mapper namespace="com.luowg.statis.mapper.StatisMapper">
	
	<select id="findCount" parameterType="com.luowg.statis.po.statis" resultType="long">
		select count(*) from statistical 
		<if test="name!= null and name!= ''">
		    where name like '%${name}%'  
		 </if>
	</select>
	<select id="findDataTables" resultType="com.luowg.statis.po.statis" parameterType="hashmap">
		select * from statistical 
		<where>
		<if test="statis.time!= null and statis.time!= ''">
		     time like '%${statis.time}%'  
		 </if>
		 <if test="statis.name!= null and statis.name!= ''">
		     name like '%${statis.name}%'  
		 </if>
		</where>
	</select>	
	
</mapper>


